[package]
name = "xtask"
version = "0.1.0"
edition = "2024"
publish = false

[dependencies]
walkdir = "2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
time = { version = "0.3", features = ["formatting"] }
regex = "1"
ureq = { version = "2", features = ["tls"] }
